.container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.margen{
	margin-top: 2.5rem;
	
}
.margen2{
	margin-bottom: 2.5rem;
	
}

.card {
  width: 30vw;
  height: 60vh;
  background: white;
  margin: 1rem;
  
  align-items: center;
  justify-content: center;
}

.card-not-hover {
  background: #afacac;
}

.card-data {
  margin-top: auto;
  margin-bottom: auto;
  
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #1616a3;
  margin: 0;
}

.card-text {
  font-size: 2rem;
}
